body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#ui {
  z-index: 2;
  text-align: center;
  width: 900px;
  height: 600px;
  position: fixed;

  > div {
    width: 900px;
    height: 600px;
  }
}

#screen {
  position: fixed;
}

canvas {
  position: absolute;
  z-index: 1;
}